@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  .text-balance {
    text-wrap: balance;
  }
}

.swiper {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.mySwiperBanner {
  height: 90dvh !important;
}

.mySwiper {
  display: grid;
  align-items: center;
  place-items: center;
  object-fit: cover;
  height: auto;
}

.swiperSlider {
  max-width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  object-position: center;
}
.swiperSliderView {
  max-width: 100px !important;
  height: 100px !important;
}
.mySwiper .swiper-slide {
  opacity: 0.2;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-navigator {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}
.swiperSlider2 {
  max-height: 60dvh !important;
}

/* ------responsive for product details ------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .swiperSlider2 {
    max-height: 30dvh !important;
  }
  .mySwiperBanner {
    height: 30dvh !important;
  }
}
